* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ------------------navbar section------------------- */
.nav-container {
  display: flex;
  width: 1440px;
  height: 72px;
  background-color: #3e3c3c;
  align-items: center;
}

.nav-container a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
}

.nav-container .items-menu {
  display: flex;
  align-items: center;
  margin-left: 700px;
  flex: 1;
  height: 100%;
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700px;
}

.nav-container .items-menu li a {
  margin-right: 40px;
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transition: ease-in-out 5s;
}

.nav-container .items-menu li a:hover {
  background-color: #615f5f;
}

.nav-container a .fa-bars {
  display: none;
}

/* ---------------------------------------hero section------------------------------------ */
.hero-section .hero-row {
  display: flex;
  background-color: #1c1a19;
  width: 1440px;
  height: 500px;
}

.hero-left ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 100px;
  flex: 0.2;
  height: 100px;
  transition: transform 5s;
  order: 1;
}

.hero-left a i {
  background: #1c1a19;
  color: #cfcfcf;
}

.hero-left a i:hover {
  color: brown;
  border-radius: 50px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 60px;
  flex: 0.5;
  height: 300px;
  order: 2;
}

.hero-right h1 {
  font-size: 26px;
  color: #ff6800;
}

.hero-right h5 {
  color: rgb(204, 194, 194);
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.hero-right p {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
}

.work-details-row1 img {
  width: 310px;
  height: 337px;
  margin-right: 50px;
}

.hero-row .hero-right1 {
  order: 3;
  margin-left: 110px;
  margin-right: 0;
  flex: 1;
  height: 400px;
  width: 200px;
  margin-top: 0;
  background-image: url("./images/Illustration-header.png");
}

.aboutme-row2-left img,
.aboutme-row2-middle img,
.aboutme-row2-right img {
  margin-right: 5px;
}

.footer-container img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.aboutme-right img {
  width: 500px;
  height: 340px;
}

.hero-row .hero-right1 img {
  width: 100%;
  height: 100%;
}

/* --------------------my recent works row1----------------------------------------------- */
.my-recent-works {
  width: 1440px;
  background: #e6e0e0;
}

.my-recent-works-row1 {
  display: grid;
  grid-template-columns: 315px 794px;
  align-items: center;
  margin-left: 50px;
  margin-top: 10px;
}

.about-me-row2-horizontal-line hr {
  border: 1px solid #fff;
  height: 0;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
}

.my-recent-works-row1-right li hr {
  border: 1px solid #212121;
  height: 0;
  margin-left: 25px;
}

.my-recent-works-row1-left .my-recent-works-row1-lft {
  width: 320px;
  height: 100px;
  color: #091e42;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding-top: 10px;
  margin-right: 2px;
  font-family: 'crete Round', sans-serif;
}

/* ---my recent works------------------ */
.my-recent-works .my-recent-works-row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 50px;
  margin-top: 10px;
}

.my-recent-works-row2-left {
  background-image: url("./images/Img Placeholder (1).png");
  width: 684px;
  height: 448px;
}

.my-recent-works-row2-right {
  width: 448px;
  height: 448px;
  position: relative;
  top: 0;
}

.my-recent-works-row2-right .mps {
  width: 448px;
  height: 48px;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Crete Round', sans-serif;
  color: #091e42;
  list-style: none;
}

.my-recent-works-row2-right .description-row2-right {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  width: 448px;
  height: 140px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.my-recent-works-row2-right .sp1,
.seeprojects1,
li {
  list-style: none;
}

.sp11,
.my-recent-works-row3-middle li .sp11,
.my-recent-works-row4-left li .sp11,
.my-recent-works-row4-middle li .sp11,
.my-recent-works-row4-right li .sp11,
.my-recent-works-row3-right li .sp11,
.my-recent-works-row2-right .sp1 .sp11 {
  height: 40px;
  width: 49px;
  background: #fff;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-right: 5px;
}

.my-recent-works-row2-right .seeprojects1 {
  width: 124px;
  height: 48px;
  background: #f55800;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  padding: 10px;
}

/* ---------------------------row 3 of recent works ---------------- */
.my-recent-works-row3,
.my-recent-works-row4 {
  display: grid;
  grid-template-columns: 369px 369px 369px;
  height: 435px;
  column-gap: 24px;
  margin-left: 50px;
}

.my-recent-works-row3 .my-recent-works-row3-left,
.my-recent-works-row4-left,
.my-recent-works-row4-middle,
.my-recent-works-row4-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
  background: url("./images/Img Placeholder (2).png");
}

.my-recent-works-row3-left .seeprojects1 {
  width: 369px;
  height: 58px;
  background: #f55800;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  padding: 10px;
}

.my-recent-works-row3 .my-recent-works-row3-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
  background: url("./images/Img Placeholder (3).png");
}

.my-recent-works-row3-middle .dashboard,
.my-recent-works-row4-left .dashboard,
.my-recent-works-row4-middle .dashboard,
.my-recent-works-row4-right .dashboard {
  width: 337px;
  height: 100px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 30px;
  font-family: 'crete Round', sans-serif;
}

.my-recent-works-row3-middle .description-row3-middle,
.my-recent-works-row4-left .description-row4-left,
.my-recent-works-row4-middle .description-row4-middle,
.my-recent-works-row4-right .description-row4-right {
  width: 337px;
  height: 200px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
  color: #fff;
}

.my-recent-works-row3-middle li,
.my-recent-works-row4-left li,
.my-recent-works-row4-middle li,
.my-recent-works-row4-right li {
  height: 50px;
  padding-left: 10px;
  cursor: pointer;
}

/* {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  margin-top: 10px;
} */

.my-recent-works-row3 .my-recent-works-row3-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
  background: url("./images/Img Placeholder (4).png");
}

.my-recent-works-row3-right .dashboard {
  width: 337px;
  height: 50px;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: 'crete Round', sans-serif;
  color: #fff;
  padding-left: 10px;
}

.my-recent-works-row3-right .description-row3-right {
  width: 337px;
  height: 130px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
  color: #fff;
}

.my-recent-works-row3-right li {
  height: 50px;
  padding-left: 10px;
  cursor: pointer;
}

/* --------------------------row4 of my recent works---------------- */
.my-recent-works-row4 {
  display: grid;
  grid-template-columns: 369px 369px 369px;
  height: 435px;
  column-gap: 24px;
  margin-top: 10px;
  margin-left: 50px;
}

.my-recent-works-row4 .my-recent-works-row4-left {
  margin-top: 10px;
  background: url("./images/Img Placeholder (5).png");
}

.my-recent-works-row4 .my-recent-works-row4-middle {
  margin-top: 10px;
  background: url("./images/Img Placeholder (4).png");
}

.my-recent-works-row4 .my-recent-works-row4-right {
  width: 369px;
  margin-top: 10px;
  background: url("./images/Img Placeholder (4).png");
}

/* ---------------------------about me row 1------------------------------------------------- */
.about-me {
  width: 1440px;
  height: 1200px;
  background: #262626;
}

.about-me .about-me-row1 {
  display: grid;
  grid-template-columns: 500px 672px;
  column-gap: 100px;
}

.about-me-row1 .about-me-row1-left {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  height: 300px;
}

.about-me-row1 .about-me-row1-left .dashboard {
  font-size: 72px;
  font-weight: 400;
  line-height: 81.5px;
  color: #f55800;
  font-family: 'crete Round', sans-serif;
}

.about-me-row1-left .description-about-me-row1-left {
  height: 148px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  color: #f4f5f7;
}

.about-me-row1-left .seeprojects1 {
  width: 161px;
  height: 48px;
  padding: 12px;
  background: #f55800;
  margin-top: 40px;
}

.about-me-row1 .about-me-row1-right {
  display: flex;
  height: 700.38px;
  background: url("./images/aboutme.png");
}

.about-me-row1 .about-me-row1-right img {
  width: 400px;
  height: 352px;
}

/* -------------about me row2----------------- */
.about-me-row2 {
  display: grid;
  grid-template-rows: 1440px;
  height: 50px;
}

/* ------------------------ about me row3------------------ */
.about-me-row3 {
  display: grid;
  margin-top: 50px;
  width: 1440px;
  grid-template-columns: 300px 300px 300px;
  column-gap: 50px;
}

.about-me-row3-left,
.about-me-row3-middle,
.about-me-row3-right {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.about-me-row3-left li,
.about-me-row3-middle li,
.about-me-row3-right li {
  margin-top: 40px;
  color: #fff;
}

.about-me-row3-left .about-me-head,
.about-me-row3-middle .about-me-head,
.about-me-row3-right .about-me-head {
  width: 228px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

/* -------------------------contact me-------------------------------------- */
.contactme-container {
  display: flex;
  background-color: #faf8f8;
  width: 1440px;
}

.contactme-container .contactme-left {
  width: 400px;
  height: 500px;
  margin-left: 50px;
  margin-top: 70px;
}

.contactme-left p {
  font-size: 52px;
}

.contactme-container .contactme-right {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 700px;
  margin-left: 20px;
  margin-top: 70px;
}

.contactme-container .contactme-right .name {
  display: flex;
}

.name input[type="text"] {
  flex: 1;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #756e6e;
  margin-right: 5px;
  padding-left: 10px;
}

input[type="email"] {
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #757070;
  margin-right: 5px;
  padding-left: 10px;
}

.texta {
  height: 114px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  margin-right: 5px;
  padding-left: 10px;
  background-color: #e9e1e1;
}

.submitb {
  margin-top: 50px;
  width: 122px;
  height: 48px;
  background-color: #f55800;
  color: white;
  border: none;
  font-weight: 400;
}

/* --------------------footer---------------------------------- */
.footer-container {
  display: flex;
  justify-content: center;
  background-color: #f1ecec;
  width: 1448px;
  height: 50px;
  align-items: center;
}

.footer-container img:hover {
  background-color: #f55800;
  cursor: pointer;
}

/* ----------------css for small screens----------------------------- */
@media only screen and (max-width: 600px) {
  .nav-container {
    width: 375px;
    height: 92px;
  }

  .nav-container .items-menu {
    display: none;
  }

  .nav-container a .fa-bars {
    display: block;
    font-size: 18px;
    margin-left: 200px;
    color: rgb(255, 255, 255);
  }

  .hero-section .hero-row {
    width: 375px;
    height: 600px;
    display: flex;
    flex-direction: column;
  }

  .hero-left {
    display: flex;
    width: 150px;
    order: 2;
    margin-top: 15px;
    padding: 0;
    padding-left: 8px;
  }

  .hero-left ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 200px;
    height: 40px;
    margin-top: 5px;
    margin-top: 10px;
  }

  .about-me-row3-left li,
  .about-me-row3-middle li,
  .about-me-row3-right li {
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    font-family: 'inter', sans-serif;
  }

  .hero-left ul li {
    margin-left: 15px;
    padding-left: 0;
  }

  .hero-right {
    display: flex;
    order: 1;
  }

  .hero-right h1 {
    font-size: 56px;
    color: #ff6800;
    font-family: 'Crete Round', serif;
  }

  section .hero-section .hero-row .hero-right1 {
    margin-right: 0;
    margin-left: 148px;
    padding-bottom: 100px;
    height: 1200px;
    width: 230px;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    background-image: url("./images/Group.png");
  }

  .aboutme-right img {
    width: 320px;
    height: 200px;
  }

  .hero-row .hero-right1 img {
    width: 70%;
    height: 50%;
    flex: 1;
  }

  /* -------------------myworks-------------------------------------- */
  .my-recent-works {
    width: 375px;
  }

  .my-recent-works-row1 {
    display: grid;
    grid-template-columns: 327px;
    grid-template-rows: 150px;
    margin: 0 10px;
  }

  .my-recent-works .my-recent-works-row2 {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 250px;
    margin: 0;
  }

  .my-recent-works-row2-left {
    background-image: url("./images/Img Placeholder (8).png");
    width: 327px;
    height: 237px;
    margin: 0 10px;
  }

  .my-recent-works-row2-right .mps {
    width: 327px;
    height: 36px;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
  }

  .my-recent-works-row2-right .description-row2-right {
    width: 327px;
    height: 147px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  .my-recent-works-row2-right .sp11 {
    height: 40px;
    width: fit-content;
  }

  .my-recent-works-row3 {
    display: grid;
    height: 1200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px 0 0 0;
  }

  .my-recent-works-row4 {
    display: grid;
    height: 1200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px 0 0 0;
  }

  .my-recent-works .my-recent-works-row3-left,
  .my-recent-works .my-recent-works-row3-middle,
  .my-recent-works .my-recent-works-row3-right,
  .my-recent-works .my-recent-works-row4-left,
  .my-recent-works .my-recent-works-row4-middle,
  .my-recent-works .my-recent-works-row4-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    background-image: url("./images/Img Placeholder (9).png");
  }

  .my-recent-works-row3-left .seeprojects1,
  .my-recent-works-row3-middle .seeprojects1 {
    width: 375px;
    height: 58px;
    background: #f55800;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px;
  }

  /* --------------------------about me ---------------------------------------------------------- */
  .about-me {
    width: 375px;
    height: 1901px;
    background: #262626;
  }

  .about-me .about-me-row1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 10px 0 0 0;
  }

  .about-me .about-me-row1 .about-me-row1-left {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    padding: 0 10px;
    height: 300px;
    width: 327px;
  }

  .about-me-row1 .about-me-row1-left .dashboard {
    width: 327px;
    height: 79px;
    font-size: 72px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.37px;
    font-style: normal;
    color: #ff6b00;
    font-family: 'crete Round', sans-serif;
  }

  .about-me-row1-left .description-about-me-row1-left {
    width: 327px;
    height: 148px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    color: #f4f5f7;
  }

  .about-me-row1-left .seeprojects1 {
    width: 168px;
    height: 41px;
    padding: 5px;
    margin-top: 90px;
    background: #ff6b00;
    text-align: center;
    color: #fff;
  }

  .about-me-row1 .about-me-row1-right {
    display: flex;
    justify-content: flex-start;
    margin-left: 160px;
    margin-bottom: 50px;
    width: 200px;
    height: 250px;
    background: url("./images/Group.png");
  }

  .about-me-row3 {
    display: grid;
    margin-top: 50px;
    width: 375px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 50px;
  }

  .about-me-row3-left .about-me-head,
  .about-me-row3-middle .about-me-head,
  .about-me-row3-right .about-me-head {
    width: 227px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }

  /* -------------------------about me ---------------------- */
  .aboutme-container {
    width: 375px;
    height: 1500px;
  }
  /* -------------------to avoid error comment had been inserted */
  .aboutme-row1 {
    width: 327px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .aboutme-left p {
    width: 327px;
    height: 200px;
    font-size: 14px;
    margin-left: 10px;
  }

  /* -------exatra white space removed----------- */
  .aboutme-left .gr {
    width: 161px;
    height: 48px;
    gap: 10px;
    background: #f55800;
    text-align: center;
    font-size: 16px;
    margin-top: 60px;
  }

  .hline hr {
    width: 375px;
    top: 9px;
    margin-left: 5px;
    margin-top: 20px;
  }

  .aboutme-right {
    display: flex;
    flex-direction: column;
    width: 330.23px;
    height: 200.17px;
  }

  .aboutme-row2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 327px;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 5px;
  }

  .aboutme-row2 .aboutme-row2-left,
  .aboutme-row2-middle,
  .aboutme-row2-right {
    width: 227px;
    height: 600px;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 70px;
  }

  .aboutme-left h4,
  .aboutme-left p {
    font-size: 25px;
  }

  .aboutme-left.gr {
    font-size: 14px;
  }

  /* --------------contactme---------------------------------------- */
  .contactme-container {
    width: 375px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .contactme-left p {
    border: 1 px solid red;
    width: 327px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    font-family: 'inter', sans-serif;
    text-align: center;
    color: #172b4d;
    padding: 0 5px 0 5px;
    margin-left: 0;
  }

  .contactme-container .contactme-right {
    width: 327px;
    height: 250px;
  }

  .contactme-container .contactme-right .name {
    display: flex;
    flex-direction: column;
  }

  .name .lname {
    display: none;
  }

  .contactme-right .submitb {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  /* --------- footer------------ */
  .footer-container {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    background-color: #fcf5f5;
    width: 375px;
    height: 50px;
    align-items: center;
  }
}
