* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ------------------navbar section------------------- */
.nav-container {
  display: flex;
  width: 1440px;
  height: 72px;
  background-color: #3e3c3c;
  align-items: center;
}

.nav-container a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
}

.nav-container .items-menu {
  display: flex;
  align-items: center;
  margin-left: 700px;
  flex: 1;
  height: 100%;
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700px;
}

.nav-container .items-menu li a {
  margin-right: 40px;
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transition: ease-in-out 5s;
}

.nav-container .items-menu li a:hover {
  background-color: #615f5f;
}

.nav-container a .fa-bars {
  display: none;
}

/* ---------------------------------------hero section------------------------------------ */
.hero-section .hero-row {
  display: flex;
  background-color: #1c1a19;
  width: 1440px;
  height: 500px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 100px;
  flex: 0.2;
  height: 100px;
  transition: transform 5s;
  order: 1;
}

.hero-left a i {
  background: #1c1a19;
  color: #cfcfcf;
}

.hero-left a i:hover {
  color: brown;
  border-radius: 50px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 60px;
  flex: 0.5;
  height: 300px;
  order: 2;
}

.hero-right h1 {
  font-size: 26px;
  color: rgb(155, 116, 19);
}

.hero-right h5 {
  color: rgb(204, 194, 194);
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.hero-right p {
  margin-top: 20px;
  color: rgb(204, 194, 194);
  font-size: 14px;
}

.work-details-row1 img {
  width: 310px;
  height: 337px;
  margin-right: 50px;
}

.aboutme-right img {
  position: absolute;
  width: 98%;
  height: 100%;
  overflow: hidden;
}

.hero-row .hero-right1 {
  order: 3;
  margin-left: 110px;
  margin-right: 0;
  flex: 1;
  height: 400px;
  width: 200px;
  margin-top: 0;
  background-image: url("./images/Illustration-header.png");
}

.aboutme-row2-left img,
.aboutme-row2-middle img,
.aboutme-row2-right img {
  margin-right: 5px;
}

.footer-container img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.hero-row .hero-right1 img {
  width: 100%;
  height: 100%;
}

/* --------------------myworks----------------------------------------------- */
.myworks {
  width: 1440px;
  background: #e6e0e0;
}

.myworks .work-heading {
  display: flex;
  height: 40%;
  width: 75%;
  align-items: center;
  margin-left: 50px;
}

.work-heading h4 {
  flex: 0.2;
}

.work-heading .hline {
  flex: 1;
  margin-right: 20px;
}

.work-details-row1 {
  display: flex;
  margin-left: 50px;
  margin-right: 260px;
}

.details-right1 {
  width: 400px;
  height: 200px;
}

.details-right1 span {
  border: 2px solid rgb(199, 194, 194);
  margin-left: 7px;
  margin-top: 10px;
}

.details-right1 .btn {
  margin-left: 7px;
  margin-top: 10px;
  width: 100px;
  background-color: darkorange;
  border-radius: 5px;
  padding-top: 5px;
  cursor: pointer;
}

.work-details-row2,
.work-details-row3 {
  display: flex;
  margin-left: 50px;
  margin-right: 260px;
}

.wdr21,
.wdr22,
.wdr23,
.wdr31,
.wdr32,
.wdr33 {
  width: 369px;
  height: 369px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wdr22,
.wdr32 {
  background-image: url("./images/Img placeholder (3).png");
}

.wdr23,
.wdr33 {
  background-image: url("./images/Img placeholder (4).png");
}

.wdr21 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("./images/Img placeholder (2).png");
}

.wdr21 p {
  background-color: rgb(165, 67, 11);
  border-radius: 1px solid rgb(240, 240, 130);
  text-align: center;
  color: white;
  height: 30px;
  flex-grow: 1;
}

.wdr22,
.wdr32,
.wdr33 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sp1 {
  display: flex;
  gap: 12px;
  height: 20px;
  width: 236px;
}

.wdr22 h4,
.wdr22 p,
.wdr22 .sp1 {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}

.sp1 span {
  background-color: #312f2f;
  text-align: center;
  padding: 2px;
  font-size: 12px;
}

.wdr23 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wdr23 h4,
.wdr23 p,
.wdr23 .sp1 {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}

.wdr31 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("./images/Img placeholder (5).png");
}

.wdr31 h4,
.wdr31 p,
.wdr31 .sp1 {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}

.wdr32 h4,
.wdr32 p,
.wdr32 .sp1 {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}

.wdr33 h4,
.wdr33 p,
.wdr33 .sp1 {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}

/* ---------------------------about me------------------------------------------------- */
.aboutme-container {
  height: 1195px;
  width: 1440px;
  background-color: #262626;
}

.aboutme-row1 {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.aboutme-left {
  display: flex;
  flex-direction: column;
}

.aboutme-left h4 {
  height: 78px;
  width: 566px;
  color: #f55800;
  font-size: 72px;
}

.aboutme-left p {
  width: 566px;
  height: 148px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

.aboutme-left .gr {
  width: 161px;
  height: 48px;
  gap: 10px;
  background: #f55800;
  text-align: center;
}

.hline hr {
  width: 1156px;
  top: 9px;
  margin-left: 50px;
  margin-top: 50px;
}

.aboutme-row2 {
  display: flex;
  height: 500px;
  width: 1300px;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 30px;
}

.aboutme-row2 .aboutme-row2-left,
.aboutme-row2-middle,
.aboutme-row2-right {
  width: 200px;
  height: 400px;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 70px;
}

.aboutme-row2-left h6,
.aboutme-row2-middle h6,
.aboutme-row2-right h6 {
  margin-top: 20px;
  font-size: large;
}

/* -------------------------contact me-------------------------------------- */
.contactme-container {
  display: flex;
  background-color: #faf8f8;
  width: 1440px;
}

.contactme-container .contactme-left {
  width: 400px;
  height: 500px;
  margin-left: 50px;
  margin-top: 70px;
}

.contactme-left p {
  font-size: 52px;
}

.contactme-container .contactme-right {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 700px;
  margin-left: 20px;
  margin-top: 70px;
}

.contactme-container .contactme-right .name {
  display: flex;
}

.name input[type="text"] {
  flex: 1;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #756e6e;
  margin-right: 5px;
  padding-left: 10px;
}

input[type="email"] {
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #757070;
  margin-right: 5px;
  padding-left: 10px;
}

.texta {
  height: 114px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  margin-right: 5px;
  padding-left: 10px;
  background-color: #e9e1e1;
}

.submitb {
  margin-top: 50px;
  width: 122px;
  height: 48px;
  background-color: #f55800;
  color: white;
  border: none;
  font-weight: 400;
}

/* --------------------footer---------------------------------- */
.footer-container {
  display: flex;
  justify-content: center;
  background-color: #f1ecec;
  width: 1448px;
  height: 50px;
  align-items: center;
}

.footer-container img:hover {
  background-color: #f55800;
  cursor: pointer;
}

/* ----------------css for small screens----------------------------- */
@media only screen and (max-width: 600px) {
  .nav-container {
    width: 375px;
    height: 92px;
  }

  .nav-container .items-menu {
    display: none;
  }

  .nav-container a .fa-bars {
    display: block;
    font-size: 18px;
    margin-left: 200px;
    color: rgb(255, 255, 255);
  }

  .hero-section .hero-row {
    width: 375px;
    height: 600px;
    display: flex;
    flex-direction: column;
  }

  .hero-left {
    display: flex;
    flex-direction: row;
    justify-content: 0;
    width: 150px;
    order: 2;
    margin-top: 3px;
    padding: 0;
  }

  .hero-right {
    display: flex;
    order: 1;
  }

  .hero-right h1 {
    font-size: 56px;
    color: rgb(155, 116, 19);
    font-family: 'Crete Round', serif;
  }

  section .hero-section .hero-row .hero-right1 {
    margin-right: 0;
    margin-left: 148px;
    padding-bottom: 100px;
    height: 900px;
    width: 230px;
    margin-top: 0;
    margin-bottom: 10px;
    background-image: url("./images/Group.png");
  }

  .hero-row .hero-right1 img {
    width: 90%;
    height: 90%;
    flex: 1;
  }

  /* -------------------myworks-------------------------------------- */
  .myworks {
    width: 375px;
  }
  .myworks .work-heading {
    display: flex;
    flex-direction: column;
    width: 227px;
    height: 83px;
    font-size: 25px;
  }

  .work-heading .hline {
    width: 227px;
    margin-right: 0;
    margin-left: 20px;
  }

  .work-details {
    width: 375px;
  }

  .work-details-row1,
  .work-details-row2,
  .work-details-row3 {
    width: 375px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 260px;
  }

  .details-right1 {
    width: 327px;
    height: 147px;
  }

  .wdr21,
  .wdr22,
  .wdr23,
  .wdr31,
  .wdr32,
  .wdr33 {
    width: 327px;
    height: 386px;
    margin-right: 20px;
  }

  /* -------about me---------------------------------------- */
  .aboutme-container {
    width: 375px;
    height: 1500px;
  }

  .aboutme-row1 {
    width: 327px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .aboutme-left p {
    width: 327px;
    height: 200px;
    font-size: 14px;
    margin-left: 10px;
  }

  .aboutme-left .gr {
    width: 161px;
    height: 48px;
    gap: 10px;
    background: #f55800;
    text-align: center;
    font-size: 16px;
    margin-top: 60px;
  }

  .hline hr {
    width: 375px;
    top: 9px;
    margin-left: 5px;
    margin-top: 20px;
  }

  .aboutme-right {
    position: relative;
    width: 330.23px;
    height: 200.17px;
  }

  .aboutme-row2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 327px;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 5px;
  }

  .aboutme-row2 .aboutme-row2-left,
  .aboutme-row2-middle,
  .aboutme-row2-right {
    width: 227px;
    height: 600px;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 70px;
  }

  .aboutme-left h4,
  .aboutme-left p {
    font-size: 25px;
  }

  .aboutme-left.gr {
    font-size: 14px;
  }

  /* --------------contactme---------------------------------------- */
  .contactme-container {
    width: 375px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #faf8f8;
  }

  .contactme-left p {
    border: 1 px solid red;
    width: 327px;
    font-size: 17px;
    margin-left: 0;
  }

  .contactme-container .contactme-right {
    width: 327px;
    height: 250px;
  }

  .contactme-container .contactme-right .name {
    display: flex;
    flex-direction: column;
  }

  .name .lname {
    display: none;
  }

  .contactme-right .submitb {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  /* --------- footer------------ */
  .footer-container {
    display: flex;
    justify-content: center;
    background-color: #e4dcdc;
    width: 375px;
    height: 50px;
    align-items: center;
  }
}
